In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv('ner_dataset.csv',encoding='mac_roman')

In [14]:
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [18]:
df.size

4194300

In [21]:
df1=df.loc[:500002]

In [22]:
df1

             Sentence #           Word  POS Tag
0           Sentence: 1      Thousands  NNS   O
1                   NaN             of   IN   O
2                   NaN  demonstrators  NNS   O
3                   NaN           have  VBP   O
4                   NaN        marched  VBN   O
...                 ...            ...  ...  ..
499998              NaN           well   RB   O
499999              NaN          being  VBG   O
500000              NaN              .    .   O
500001  Sentence: 22863             An   DT   O
500002              NaN   organization   NN   O

[500003 rows x 4 columns]

In [24]:
df1.to_csv('ner_dataset1.csv')